.bg-main {
    background-color: #590039;
    color: white;
    height: 100px;

}
#iconplay { 
    font-size: 48px;
    color: yellow;
}
.nav-link {
    color: white;
    font-size:16px;
}
#lalal {
    border: 1px solid black;
}
.nav-link:hover {
    color: white;
    text-decoration: none;
}
#batman {
    width: 1280px;
    height: 640px;
}
